<%
var post = page;
%>

<article class="post-container post-container--single">

  <header class="post-header">
	
	<h1 class="post-title"><%= post.title %></h1>

	<section id="post-content" class="article-content post">
		<%- post.content %>
	</section>


  </header>

</article>

<div class="archive-meta">

<% if (site.categories.length){ %>
	<div class="categorieslist">
		<% site.categories.sort('name').each(function(item){ %>
		  <% if(item.posts.length && item.name==='codeReview'){ %>


			<div class="main-post-list">
				<ol class="post-list">
					<% item.posts.each(function(post, i) { %>
					<li>
						<h2 class="post-list__post-title post-title">
						  <a href="<%- config.root %><%- post.path %>" title="<%= post.title %>"><%= post.title %></a>
						  <% if (i==0) { %><span class="ex">new</span><% } %>
						</h2>

						<div class="post-list__meta">

						  <time datetime="<%= date(post.date, config.date_format) %>" class="post-list__meta--date date"><%= date(post.date, config.date_format) %></time> 
						</div>

						<div class="excerpt">
						  <% if (post.description) { %>
							<%- post.description %>
						  <% } else if (post.excerpt) { %>
							<%- post.excerpt %>
						  <% } %>
						</div>

						<hr class="post-list__divider" />
					</li>
					<% }); %>
				</ol>
			</div>

			<div class="main-post-nav">
				<%
					var nav_list = [];
					var nav_type = { 'cashier': '收银台', 'finance': '金融业务', 'guide': '导购' };
					item.posts.each(function(post, i) {
						var codeReview_id = '';
						post.categories.each(function (cate, i) {
							if (cate.name==='codeReview' && !codeReview_id) {
								codeReview_id = cate._id || '';
							} else if (cate.parent && codeReview_id===cate.parent) {
								nav_list.indexOf(cate.name)===-1 && nav_list.push(cate.name)
							}
						})
					})
					if (nav_list.length) {
				%>
				<ul>
					<% nav_list.forEach(function (nav) { %>
					<li><a href="<%- config.root %>categories/codeReview/<%- nav %>/"><%= nav_type[nav] %></a></li>
					<% }) %>
				</ul>
				<% } %>
			</div>



		  <% } %>
		<% }); %>
	 </div>
<% } %>


</div>